%h1= :cases.l

- for gem_case in @cases
  %h2
    = link_to gem_case.title, [museum, gem_case]
    %small
      v#{gem_case.loupe('rubygems').detail('version')}
      (#{gem_case.name})
  %p
    = gem_case.loupe('rubygems').detail('info')
