%h1
  = @case.title
  %small= @case.loupe('rubygems').detail('version')

- for loupe in Museum::Loupe.all
  %h3= loupe.title
  %dl
    - for detail in @case.loupe(loupe.slug)
      %dt
        = detail.key.titleize.gsub(/( Ur.$)/) { $1.upcase }
      %dd
        %code
          @case.loupe('#{loupe.slug}').detail('#{detail.key}')
      %dd
        - case detail.value
          - when nil
            %em.disabled nil
          - when ''
            %em.disabled blank
          - else
            = detail.value